#spritespin{
    overflow: inherit !important;
}
.detail{
    position: absolute;
    width: 100%;
    background: white;
    opacity: 0.7;
    padding: 10px;
    z-index: 1000;
    right: -480px !important;
}
.checkbox-inline{
    padding-left: 0px;
}
.product-item{
    margin-bottom: 20px;
}
.product-meta{
    list-style: none;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    border-top: 1px dashed gray;
}
.product-meta li{
    min-width: 200px;
}
.product-meta.dl-horizontal dt{
    text-align: left;
    width: 105px;
    font-weight: inherit;
}
.product-meta.dl-horizontal dd{
    margin-left: 105px;
}

.product-item .col-md-4{
    padding-left: 0px;
}
.product-item .col-md-3{
    padding-right: 0px;
}
.row-review-item{
    margin-bottom: 40px;
}
.review-avatar{
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.sub-review-item{
    padding-left: 20px;
}
.sub-review-item blockquote{
    font-size: inherit;
    padding: 0px 20px;
    margin: 0px;
}
.sub-review-item .review-item{
    border-bottom: none;
}
.product-main-image .spritespin{
    width: 100% !important;
}
#modal-welcome .carousel-indicators{
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
#modal-welcome .carousel-caption{
    background-color: rgba(0, 0, 0, 0.56);
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
}
#modal-welcome .carousel-inner .item a{
    text-decoration: none;
}
#modal-welcome .carousel-caption p{
    font-size: 20px;
    margin-bottom: 25px;
}