/* ========================================================================
 * LIST PRODUCT
 * ======================================================================== */
#product-list-table thead th:first-child .sorting_asc{
    background-image: none !important;
}
.img-list {
            width: 60px;
            height: 60px;
            border: solid 2px #9ca5ae;
           }

#fileupload-pdf .error, #fileupload-cad .error{
    color: red;
}