/* ========================================================================
 * LIST PRODUCT
 * ======================================================================== */
#message-table thead th:first-child .sorting_asc{
    background-image: none !important;
}
.table-box {
    width: 60px;
    height: 60px;
    border: solid 1px #9ca5ae;
}

#fileupload-pdf .error, #fileupload-cad .error{
    color: red;
}