/* ========================================================================
 * LAYOUT
 * ======================================================================== */
.main{
    /*min-height: 437px; /!*437px;*!/*/

    overflow: auto;
    padding-bottom: 250px; /* must be same height as the footer */


    min-height:200%;
    position:relative;
}
html {
    position:relative;
    min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html, body {
    margin:0;
    padding:0;
}
/* ========================================================================
 * DIMENTIONAL
 * ======================================================================== */
.padding-0{
    padding: 0px !important;
}

/* ========================================================================
 * TABLES
 * ======================================================================== */
.table-headline{
    background: #F9F9F9;
}