/* ========================================================================
 * RESET CSS
 * ======================================================================== */
.display-hide{
    display: none;
}

/* ========================================================================
 * CUSTOM TABLE
 * ======================================================================== */
.table-number th:first-child,
.table-number td:first-child{
    width: 1%;
    text-align: center;
}

.table-action th:last-child,
.table-action td:last-child{
    text-align: center;
}

.table-action td:last-child .btn:last-child{
    margin-right: 0px !important;
}

.table-limit-text{
    width: 440px;
    height: 55px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.table-limit-text br{
    display: none;
}
.table-limit-text p{
    width: 440px;
    height: 55px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.table-limit-text b, .table-limit-text strong{
    font-weight: normal !important;
}

/* ========================================================================
 * DIMENTIONAL
 * ======================================================================== */
.padding-0{
    padding: 0px !important;
}
.margin-0{
    margin: 0px !important;
}
.margin-bottom-15{
    margin-bottom: 15px;
}

/* ========================================================================
 * PLUGINS
 * ======================================================================== */

/*Select2*/
.select2-container.form-control{
    margin-left: -5px;
    width: 107%;
}
.select2-container{
    width: 100% !important;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #E5E5E5 !important;
}
.select2-container .select2-selection--single{
    height: 33px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 3px !important;
    right: 5px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 32px !important;
}
.select2-dropdown{
    border: 1px solid #E5E5E5 !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    border: 1px solid #E5E5E5 !important;
}
.select2-container--default .select2-selection--single .select2-selection__clear{
    margin-right: 7px !important;
}

.has-error .select2-container--default .select2-selection--single .select2-selection__clear,
.has-success .select2-container--default .select2-selection--single .select2-selection__clear
{
    margin-right: 9px !important;
}

.has-error .select2-container--default .select2-selection--single .select2-selection__arrow b,
.has-success .select2-container--default .select2-selection--single .select2-selection__arrow b
{
    margin-left: -35px;
}
.has-error .select2-container--default .select2-selection--single
{
    border: 1px solid #EBCCD1 !important;
}

/*Fileinput*/
.fileinput{
    margin-left: -5px;
    width: 107%;
}

/* ========================================================================
 * FORMS
 * ======================================================================== */
.form-header{
    padding: 20px 20px 0px 20px;
}
.input-number.right > .form-control{
    padding-right: 5px;
}
.input-number.right > i{
    right: 25px;
}

/* ========================================================================
 * BOOTSTRAP OVERRIDE
 * ======================================================================== */
.modal-lg{
    width: 1000px;
}
.form-horizontal .control-label {
    font-size: 13px;
}

/* ========================================================================
 * DATATABLE
 * ======================================================================== */
#historikal-list-table_wrapper .row:first-child{
    display: none;
}